.container {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  @media (max-width: 1500px) {
    margin: 5px auto;
  }
  span {
    font-size: 40px;
  }
}

.nextQ {
  position: absolute;
  right: 3rem;
  top: 50%;
  span {
    color: white;
    font-size: 35px;
    cursor: pointer;
    transition: all 0.4s;
    opacity: 1;
    &:hover {
      color: #b5ccfd;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0 !important;
}
