.container {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  span {
    font-size: 40px;
  }
}

.nextQ {
  position: absolute;
  right: 5rem;
  top: 50%;
  span {
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: color .4s;
    &:hover {
      color: #b5ccfd;
    }
  }
}
