.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: visible 1.5s ease-out;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
