.inner {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    margin-bottom: 4rem;
    font-size: 30px;
  }
  .settingsBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 0;
  }
  .playButton {
    margin-top: 2rem;
    width: 40%;
  }
  .searchGroup {
    ul {
      li {
        cursor: pointer;
        width: fit-content;
        transition: color .4s;
        &:hover {
          color: rgb(68, 236, 68);
        }
      }
    }
  }
}
.characterRight {
  position: absolute;
  top: 0;
  right: 0;
}
.characterLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}