.inner {
  width: 30%;
  height: 500px;
  border: 2px solid rgb(46, 8, 116);
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    margin-bottom: 4rem;
  }
}