@use "abstracts" as *;
@use "vendors" as *;
@use "base" as *;
@use "themes" as *;
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  background-color: #673ab7;
  color: white;
  font-family: "Indie Flower", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
