@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b5ccfd;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
  }
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #673ab7;
  color: white;
  font-family: "Indie Flower", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  height: 100%;
}

main {
  height: 100vh;
  width: 100%;
}

.Toastify__toast {
  width: 500px;
  font-size: 28px;
  display: flex;
  gap: 1rem;
}

.Toastify__toast-body {
  display: flex;
  gap: 4rem;
}

.Toastify__toast-icon {
  img {
    height: 80px;
    width: auto;
  }
}
