.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    width: 60%;
    h2 {
      text-align: center;
      font-size: 45px;
    }
    span {
      font-size: 40px;
    }
    .answers {
      margin: 2rem auto;
      width: 60%;
      display: flex;
      justify-content: space-between;
      @media (max-width: 1450px) {
        width: 70%;
      }
      .correctly {
        color: rgb(148, 252, 63);
      }
      .wrong {
        color: rgb(235, 69, 69);
      }
    }
  }
}
